<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"></head>
<div class="card">
  <div class="card-body">
    <h2 class="card-header">Signup</h2>
    <p>Already have an account?<a href="/login.html">Log in</a></p>
      <form id="signup-form">
        <div>
          <p>Username:</p>
          <input type="text" id="username-signup" placeholder="Username" />
        </div>
        <div>
          <p>Password</p>
          <input type="password" id="password-signup" placeholder="Password"/>
        </div>
        <button type="submit" id="signup-button" class="button">Submit</button>
      </form>
  </div>
</div>
<!-- add js link -->
<script src=""></script> 
